@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

@keyframes bgcolor{
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf;
    }
}
body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
body::-webkit-scrollbar {
    display: none;
}
.page-title {
    margin: auto;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    width: 800px;
    color: white;
}
.all-cards { 
    display: inline-block;
    position: relative;
    padding: 70px;
    left: 5%;
}
.row {
    padding: 30px;
    width: 20rem;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    background-color: black;
    transition: 0.5s ease-in;
}

.row:hover{
    transition: 0.5s ease-out;
    box-shadow: 0 0 40px black;
}
.card-up {
    opacity: 80%;
    position: relative;
    bottom: 10px;
}
hr {
    background-color: white;
    border-radius: 15%;
    width: 60px;
    margin-bottom: 10px;
}
.card-title {
    font-size: 45px;
}
.card-text {
    padding: 10px 8px;
    font-size: 14px;
    opacity: 85%;
}
button {
    color: white;
    border: teal solid 3px;
    position: relative;
    left: 10px;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
    border-radius: 20px;
    background: none;
}
button:hover {
    transition: 0.5s ease-out;
    box-shadow: teal 0 0 28px;
    background-color: teal;
}

@media only screen and (max-width: 700px) 
{
    .all-cards {
        display: grid;
        position: relative;
        right: 5%;
        padding: 10px;   
    }
    .page-title {
        font-size: 30px;
        width: 350px;
    }
    .card-text {
        font-size: 15px;
        letter-spacing: 1px;
    }
    button {
        position: relative;
        padding: 12px;
        font-size: 17px;
    }
    .card-up {
        font-size: 16px;
    }
    hr {
        padding: 0.6px;
    }
   
}

.heart {color: red;}

.copyrights {
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.source-btn {
    position: relative;
    left: 10px;
    color: white;
    transition: 0.5s ease-in;
    border: #e6ff02 solid 3px;
    border-radius: 20px;
    padding: 12px;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.source-btn:hover {
    transition: 0.5s ease-out;
    box-shadow: #d0e700 0 0 28px;
    background-color: #d0e700;
    color: black;
}

/* 
Thanks For lanLunn On Github.
I used his Hover.css Design.
https://github.com/IanLunn/Hover
*/

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-icon-wobble-horizontal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon, .hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media only screen and (max-width: 600px) {
    .hvr-icon-wobble-horizontal{
        padding: 12px;
        font-size: 15px;
    }
}